<style></style>

<div class="my-3">
  <div>
    <button
      id="addtocart-{{ section.id }}"
      {% if current_variant.available == false %}
        disabled
      {% endif %}
      type="submit"
      name="add"
      class="
        w-full px-6 py-4 text-white font-semibold rounded
        {% if current_variant.available == false %}
          bg-gray-400 cursor-not-allowed opacity-50
        {% else %}
          bg-gray-900 hover:bg-gray-700 cursor-pointer
        {% endif %}
      "
    >
      {%- if current_variant.available == false -%}
        Sold out
      {%- else -%}
        Add to cart
      {%- endif -%}
    </button>
  </div>
</div>
